<div class="columns">
    <div class="column is-12">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="field">
                <form-input [control]="form.controls['name']" labelText="Name"></form-input>
            </div>
            <div class="field is-horizontal">
                <form-text-area [control]="form.controls['description']" labelText="Description"></form-text-area>
            </div>
            <div class="field is-grouped">
                <p class="control">
                    <button type="submit" class="button is-success" [disabled]="form.invalid || submitted">
                        Submit
                    </button>
                </p>
                <p class="control">
                    <a class="button" [routerLink]="['/maps/library']">
                        Cancel
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>
