<div class="file">
    <label class="file-label">
        <input class="file-input" type="file" name="resume" (change)="upload($event.target.files)">
        <span class="file-cta">
      <span class="file-icon">
        <i class="fas fa-upload"></i>
      </span>
      <span class="file-label">
        Choose a file…
      </span>
    </span>
    </label>
</div>

<div *ngIf="percentage$ | async as percentage">
    <progress *ngIf="percentage" class="progress" [value]="percentage" max="100"></progress>
</div>
