<div>
    <div class="buttons">
        <button class="button" (click)="loginViaGoogle()">
        <span class="icon">
            <i class="fab fa-google"></i>
        </span>
            <span>Login via Google</span>
        </button>
    </div>
    <div class="buttons">
        <button class="button" (click)="loginViaFacebook()">
        <span class="icon">
            <i class="fab fa-facebook"></i>
        </span>
            <span>Login via Facebook</span>
        </button>
    </div>
</div>
