<div class="modal is-active">
    <div class="modal-background"></div>
    <div class="modal-card">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-card-head">
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
                Add marker
            </div>
            <div class="modal-card-body">
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                        <label for="form.name" class="label">Name</label>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control is-expanded">
                                <input id="form.name" class="input" type="text" placeholder="Name" formControlName="name">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-card-foot">
                <button type="submit" class="button is-success">Save</button>
                <button class="button">Cancel</button>
            </div>
        </form>
    </div>
</div>
