<nav class="navbar is-fixed-top is-light"
     role="navigation"
     aria-label="main navigation">
    <div class="navbar-brand">
        <a
                class="navbar-item"
                routerLink="/">
            <h1 class="title">Inside the Screen</h1>
        </a>

        <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarBasicExample"
                (click)="toggleMenu()"
                [ngClass]="{'is-active': showMenu}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': showMenu}">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" (click)="toggleMenu()">
                    <span class="icon">
                        <i class="fas fa-book"></i>
                    </span>
                    <span>Campaigns</span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item is-static">
                        <span>Coming soon...</span>
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link" (click)="toggleMenu()">
                    <span class="icon">
                        <i class="fas fa-map-marked-alt"></i>
                    </span>
                    <span>Maps</span>
                </div>

                <div class="navbar-dropdown">
                    <a routerLink="/maps/library" class="navbar-item is-static" (click)="toggleMenu()">
                        <span class="icon">
                            <i class="fas fa-atlas"></i>
                        </span>
                        <span>Library</span>
                    </a>
                    <a routerLink="/maps/create" class="navbar-item is-static" (click)="toggleMenu()">
                        <span class="icon">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span>Create Map</span>
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" (click)="toggleMenu()">
                    <span class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </span>
                    <span>Locations</span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item is-static">
                        <span>Coming soon...</span>
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" (click)="toggleMenu()">
                    <span class="icon">
                        <i class="fas fa-users"></i>
                    </span>
                    <span>NPCs</span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item is-static">
                        <span>Coming soon...</span>
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" (click)="toggleMenu()">
                    <span class="icon">
                        <i class="fas fa-handshake"></i>
                    </span>
                    <span>Factions</span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item is-static">
                        <span>Coming soon...</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable" *ngIf="!(user$ | async)">
                <a class="navbar-link" (click)="toggleMenu()">
                    <span class="icon">
                        <i class="fas fa-sign-in-alt"></i>
                    </span>
                    <span>Log in</span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" (click)="loginViaGoogle(); toggleMenu()">
                        <span>...via Google</span>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" (click)="loginViaFacebook(); toggleMenu()">
                        <span>...via Facebook</span>
                    </a>
                </div>
            </div>

            <div class="navbar-item has-dropdown is-hoverable" *ngIf="user$ | async as user">
                <a class="navbar-link" (click)="toggleMenu()">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    <span>{{ user.displayName }}</span>
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" (click)="toggleMenu()">
                        <span class="icon">
                            <i class="fas fa-user-cog"></i>
                        </span>
                        <span>Settings</span>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" (click)="logout(); toggleMenu()">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
