<nav
        class="navbar is-fixed-top is-light"
        role="navigation"
        aria-label="main navigation">
    <div class="navbar-brand">
        <a
                class="navbar-item"
                routerLink="/">
            <h1 class="title">DM Screen</h1>
        </a>

        <a
                role="button"
                class="navbar-burger burger"
                aria-label="menu"
                aria-expanded="false"
                data-target="navbarBasicExample"
                (click)="toggleMenu()"
                [ngClass]="{'is-active': showMenu}">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" [ngClass]="{'is-active': showMenu}">
        <div class="navbar-start">
            <a class="navbar-item">
                Home
            </a>

            <a class="navbar-item">
                Documentation
            </a>

            <a class="navbar-item">
                About
            </a>
            <a class="navbar-item">
                Jobs
            </a>
            <a class="navbar-item">
                Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
                Report an issue
            </a>
        </div>

        <div class="navbar-end">
            <div class="navbar-item" *ngIf="!authenticationState.isLoggedIn">
                <div class="buttons">
                    <a class="button is-primary" routerLink="/login">
                        <span class="icon">
                            <i class="fas fa-sign-in-alt"></i>
                        </span>
                        <span>Log in</span>
                    </a>
                </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable" *ngIf="authenticationState.isLoggedIn">
                <a class="navbar-link">
                    <span class="icon">
                        <i class="fas fa-user"></i>
                    </span>
                    {{ authenticationState.activeUser.displayName }}
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item">
                        <span class="icon">
                            <i class="fas fa-user-cog"></i>
                        </span>
                        <span>Settings</span>
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" (click)="logout()">
                        <span class="icon">
                            <i class="fas fa-sign-out-alt"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
