<nav class="navbar is-primary is-fixed-top">
    <div class="navbar-brand">
        <a class="navbar-item subtitle" style="margin-bottom: 0">
            Inside the Screen
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
            <span></span>
            <span></span>
            <span></span>
          </span>
    </div>
    <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item is-active">
                Home
            </a>
            <a class="navbar-item">
                Examples
            </a>
            <a class="navbar-item">
                Documentation
            </a>
            <span class="navbar-item">
              <a class="button is-primary is-inverted">
                <span class="icon">
                  <i class="fab fa-github"></i>
                </span>
                <span>Download</span>
              </a>
            </span>
        </div>
    </div>
</nav>

<div class="columns is-fullheight">
    <div class="column" style="padding-bottom: 0;">
        <aside class="menu has-background-grey" style="overflow-y: auto; min-height: 100%;">
            <p class="menu-label has-text-white">
                <span class="icon">
                  <i class="far fa-heart"></i>
                </span>
                Favourites
            </p>
            <ul class="menu-list">
                <li><a>Bumblesmack Conderconch</a></li>
                <li><a>Customers</a></li>
            </ul>
            <p class="menu-label has-text-white">
                <span class="icon">
                  <i class="fas fa-history"></i>
                </span>
                Recent
            </p>
            <ul class="menu-list">
                <li><a>Team Settings</a></li>
                <li>
                    <a class="is-active">Manage Your Team</a>
                    <ul>
                        <li><a>Members</a></li>
                        <li><a>Plugins</a></li>
                        <li><a>Add a member</a></li>
                    </ul>
                </li>
                <li><a>Invitations</a></li>
                <li><a>Cloud Storage Environment Settings</a></li>
                <li><a>Authentication</a></li>
            </ul>
            <p class="menu-label has-text-white">
                Transactions
            </p>
            <ul class="menu-list">
                <li><a>Payments</a></li>
                <li><a>Transfers</a></li>
                <li><a>Balance</a></li>
            </ul>
        </aside>
    </div>
    <div class="column is-four-fifths">
        <h1>petrol</h1>
        <p>petrol</p>
    </div>
</div>
