<section class="hero is-fullheight-with-navbar" *ngIf="map$ | async as map">
    <div
            class="map-wrapper"
            [ngStyle]="{'transform': 'scale(' + customZoom + ')'}"
            [ngClass]="{'add-location': addMarkerFlag}"
    >
        <img
                class="map"
                [src]="map.downloadUrl"
                [alt]="map.name"
                (click)="placeLocationMarker($event, map.id)"
        />
        <app-marker-container [mapId]="map.id"></app-marker-container>
    </div>
</section>
