<div class="has-text-centered">
    <img src="https://bulma.io/images/bulma-logo.png  " width="50%">
</div>

<br/><br/>

<aside class="menu has-text-white">
    <label for="globalSearch" class="menu-label" style="display: block">
        <span class="icon">
            <i class="fas fa-search"></i>
        </span>
        Global Search
    </label>
    <div class="field has-addons">
        <div class="control">
            <input id="globalSearch" class="input" type="text"/>
        </div>
        <div class="control">
            <a class="button is-primary">
                Search
            </a>
        </div>
    </div>
    <a class="menu-label" (click)="toggleMarkerTypes()">
                <span *ngIf="showMarkerTypes" class="icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
        <span *ngIf="!showMarkerTypes" class="icon">
                    <i class="fas fa-chevron-right"></i>
                </span>
        Contextual Things
    </a>
    <ul *ngIf="showMarkerTypes" class="menu-list">
        <li>
            <span>
                <span class="icon">
                    <i class="fas fa-plus"></i>
                </span>
                <span>Add marker</span>
            </span>
        </li>
        <li>
            <label class="checkbox with-hover">
                <input type="checkbox"/>
                House
            </label>
        </li>
        <li>
            <label class="checkbox with-hover">
                <input type="checkbox"/>
                Shrine
            </label>
        </li>
        <li>
            <label class="checkbox with-hover">
                <input type="checkbox"/>
                Tavern
            </label>
        </li>
        <li>
            <label class="checkbox with-hover">
                <input type="checkbox"/>
                Other
            </label>
        </li>
    </ul>
    <a class="menu-label">
                <span class="icon">
                    <i class="fas fa-chevron-down"></i>
                </span>
        Favourites
    </a>
    <ul class="menu-list">
        <li>
            <span>Add marker</span>
        </li>
        <li>
            <span>Ye Olde Shoppe</span>
        </li>
        <li>
            <span>Jim's House</span>
        </li>
        <li>
            <span>Shrine of Helm</span>
        </li>
        <li>
            <span>The Thirsty Gnome</span>
        </li>
        <li>
            <span>Pat's House</span>
        </li>
    </ul>
</aside>
